.photoGallery {
  flex-direction: column;

  img {
    width: 328px;
    height: 328px;
  }
}

@media (width >= 80em) {
  .photoGallery {
    padding-block: 1.5rem;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    flex-wrap: wrap;
    justify-content: center;
    & img {
      height: 286px;
      width: 286px;
    }
  }
}